* {
    box-sizing: border-box;
}

html {
    background-color: rgb(250, 245, 215);
    font-family: 'Spectral', 'sans-serif'; /* Spectral/Inter */
}

body {
    padding: 150px 400px 50px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    list-style-type: none;
    font-size: 18px;
    transition: all 0.2s ease;
    margin-bottom: 5px;
    border-radius: 20px;

     /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* text-transform: capitalize;  */
    box-shadow: 2px 1px 3px rgb(218, 218, 218); /* IDK if I prefer this! Both are great! */
}

ul li:nth-child(even) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
    box-shadow: 2px 2px 5px rgb(218, 218, 218);
}

ul li.checked { /* class we add */
    background: rgb(0, 90, 0);
    color: #e1e1e1;
    text-decoration: line-through;
}

ul li.checked:nth-child(even) { /* class we add */
    background: green;
    color: #e1e1e1;
    text-decoration: line-through;
}

ul li.checked:hover {
    box-shadow: 2px 2px 5px rgba(17, 87, 42, 0.564);
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    border-radius: 15px;
    transition: all 0.2s ease;
}

.close:hover {
    background-color: #ff4639;
    color: white;
}

.close:focus {
    outline: none;
}

.header {
    background-color: gold;
    padding: 30px 40px;
    color: black;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgb(228, 238, 140);
}

h2 {
    font-size: 30px;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    margin-left: 15px;
    float: left;
    font-size: 16px;
    border-radius: 20px;
    font-weight: bold;
    /* text-transform: uppercase; */
    box-shadow: 1px 3px 10px rgb(170, 172, 56);
}

input:hover {
    background-color: rgb(248, 247, 245);
}

input:focus {
    outline: none;
    background-color: rgb(248, 247, 245);
    box-shadow: 1px 5px 10px rgb(170, 172, 56);
}

input::placeholder {
    color: rgb(137, 122, 40);
    text-transform: uppercase;
}

.addBtn {
    padding: 10px;
    margin-left: 15px;
    width: 20%;
    background: #d9d9d9;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
    box-shadow: 2px 5px 10px rgba(69, 61, 61, 0.381);
}

.addBtn:hover {
    background-color: #bbb;
}